#grid-container {
  display: grid;
  min-width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;
  grid-template-areas: "content"
                       "footer";
}

@media only screen and (min-width: 600px) {
  #grid-container {
    grid-template-columns: 50px 1fr;
    grid-template-areas: "sidebar content"
                         "footer footer";
  }
}

.aside {
  grid-area: sidebar;
  background-color: blue;
}

.main {
  grid-area: content;
  background-color: lightgray;
}

.footer {
  grid-area: footer;
  background-color: darkgray;
}
